.population-per-civil-status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.population-per-civil-status-chart {
  display: grid;
  justify-items: center;
}

.population-per-civil-status-legend {
  display: flex;
  column-gap: 5rem;
}

.population-per-civil-status-legend-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
