.ppd-row-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ppd-row-two {
  display: grid;
  grid-template-columns: 1fr;
}

.ppd-row-three {
  display: grid;
  grid-template-columns: 1fr;
}

.ppd-row-four {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ppd-row-five {
  display: grid;
  grid-template-columns: 1fr;
}
