.sign-in-container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.sign-in-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1rem solid rgba(255, 255, 255, 0.1);
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}

.sign-in-image {
  justify-self: end;
  align-self: center;
  width: 400px;
}

.sign-in-form {
  align-self: center;
}

.sign-in-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.sign-in-label {
  font-size: 0.9rem;
}

.sign-in-input {
  margin-bottom: 0.5rem;
}

.sign-in-button {
  margin-top: 2rem;
}

.sign-in-note {
  max-width: 15rem;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo-container {
  display: flex;
  column-gap: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.sign-in-logo {
  width: 50px;
  justify-self: start;
  align-self: center;
}
