.section-footer {
  display: grid;
  justify-content: end;
  margin-bottom: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  background-color: hsla(197, 10%, 15%, 1);
  font-style: italic;
  font-size: 0.9rem;
  transition: all 300ms ease;
}
