body {
  background-color: hsl(195, 10%, 10%);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.button:disabled {
  cursor: not-allowed;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

/* MAP */
.map-container {
  height: calc(100vh - 4.6rem);
  width: 100%;
}

.map-container-incident {
  height: calc(100vh - 7rem);
  width: 100%;
}

.map-container-evacuation-center {
  height: calc(100vh - 7rem);
  width: 100%;
}

/* LEGENDS FOR DASHBOARD */

.box-red {
  background-color: #df2020;
  height: 1rem;
  width: 1rem;
  margin: 0 auto 0 auto;
}

.box-orange {
  background-color: #df9c20;
  height: 1rem;
  width: 1rem;
  margin: 0 auto 0 auto;
}

.box-yellow {
  background-color: #dfdf20;
  height: 1rem;
  width: 1rem;
  margin: 0 auto 0 auto;
}

.box-green {
  background-color: #20df20;
  height: 1rem;
  width: 1rem;
  margin: 0 auto 0 auto;
}

.box-blue {
  background-color: #20a8df;
  height: 1rem;
  width: 1rem;
  margin: 0 auto 0 auto;
}

.box-indigo {
  background-color: #d020df;
  height: 1rem;
  width: 1rem;
  margin: 0 auto 0 auto;
}

.box-violet {
  background-color: #df207c;
  height: 1rem;
  width: 1rem;
  margin: 0 auto 0 auto;
}

/* BODY GRADIENT */

body {
  background-color: hsl(180, 80%, 5%);
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* REMOVE LINK DECORATION */

a:link {
  text-decoration: none;
}

/* VRI DASHBOARD TITLE */
.vri-title {
  font-size: 3rem;
  padding: 2rem 0 0 0;
  text-align: center;
  color: #20a8df;
}

/* SUB SECTION HEADER */
.sub-section-header {
  padding: 0.5rem 2rem;
  color: #20a8df;
}

.sub-section-table {
  padding: 1rem 4rem 1rem 4rem;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.sub-section-table > * {
  border: 2px solid #df9c20;
}

.sub-section-action {
  display: flex;
}

/* FIX MAPBOX EXPORT */
.mapboxgl-export-list {
  background-color: hsl(226, 78%, 8%);
}

.mapboxgl-export-list label {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.mapboxgl-export-list button {
  background-color: hsl(0, 0%, 99%) !important;
}
